div.breadcrumbs.breadcrumbs--header
  div.breadcrumbs__link
    a.no-link-decoration(href="#") Customers
  div.breadcrumbs__separator
    i.fa.fa-chevron-right(aria-hidden="true")
  div.breadcrumbs__link.breadcrumbs__link--current
    span Max Jones