doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title CRM test
    link(rel="stylesheet", href="assets/app.css")
    script(src="https://use.fontawesome.com/9200e1cb11.js")
  body
    div.container-wrapper

      include ../blocks/sidebar

      div.content

        include ../blocks/header

        block content