include ../mixins/menu-item

-
  var menuItems = [
    { text: 'Dashboard', icon: 'fa fa-tachometer' },
    { text: 'Reports', icon: 'fa fa-pie-chart'  },
    { text: 'Customers', icon: 'fa fa-briefcase', itemAttributes: { 'class': 'menu__item--active' } },
    { text: 'Calendar', icon: 'fa fa-calendar' }
  ]

aside.sidebar
  div.logo
    div.logo__text
      a.no-link-decoration(href="#") CRM
  nav.menu
    ul.menu__list
      each item in menuItems
        +menu-item(item)