.user-profile__avatar {
  //display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  //vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  //background-color: #222d32;
}