.customer__btn-create-quote {
  float: right;
  padding-top: 8px;
  vertical-align: top;
  text-align: right;

  .no-link-decoration {
    background-color: $primary-color;
    @include open-sans-bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffc12d;
    padding: 12px 25px;
    border-radius: 4px;
  }
}