extends templates/layout/main

block content
  main
    div.fix-wrapper.fix-wrapper--customer
      div.customer
        div.customer__info
          div.customer__avatar
            img.customer__img(src="assets/img/customer-avatar.png")
          div.customer__details
            div.customer__box.customer__box--border
              div.customer__name
                span Max Jones
              div.customer__profile-type
                span Gold
              div.customer__category
                span Sales & Marketing
            div.customer__box.customer__box--padding.fix-wrapper--right
              div.customer__contact-item
                div.customer__contact-label
                  span Phone
                div.customer__contact-text
                  span (+31) 140 175 468
              div.customer__contact-item
                div.customer__contact-label
                  span Address
                div.customer__contact-text
                  span Binnenweg 50, Rotterdam
              div.btn.btn--customer
                span Create Quote

      include templates/blocks/tabs
