//
   Created by Александр on 17.10.2017.

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title CRM test
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic")
    link(rel="stylesheet", href="assets/app.css")
    script(src="https://use.fontawesome.com/9200e1cb11.js")
  body
    div.container-wrapper
      aside.sidebar
        div.logo
          div.logo__text
            a.no-link-decoration(href="#") CRM
        nav.menu
          ul.menu__list
            li.menu__item
              a.menu__wrapper(href="#")
                div.menu__icon
                  i.fa.fa-tachometer(aria-hidden="true")
                div.menu__text Dashboard
            li.menu__item
              a.menu__wrapper(href="#")
                div.menu__icon
                  i.fa.fa-pie-chart(aria-hidden="true")
                div.menu__text Reports
            li.menu__item
              a.menu__wrapper(href="#")
                div.menu__icon
                  i.fa.fa-briefcase(aria-hidden="true")
                div.menu__text Customers
            li.menu__item
              a.menu__wrapper(href="#")
                div.menu__icon
                  i.fa.fa-calendar(aria-hidden="true")
                div.menu__text Calendar
      div.content
        header.header
          div.breadcrumbs
            div.breadcrumbs__parent
              a.no-link-decoration(href="#") Customers
            div.breadcrumbs__separator
              i.fa.fa-chevron-right(aria-hidden="true")
            div.breadcrumbs__child
              span Max Jones

          div.header_right-part
            div.search-form
              form
                input.search-form__input(type="text" placeholder="Search")
                div.search-form__icon
                  i.fa.fa-search(aria-hidden="true")

            div.notification
              div.notification__icon
                i.fa.fa-bell(aria-hidden="true")
                div.notification__msg 4
        main
          div Main tag here