@mixin myriad-pro-regular {
  font-family: "MyriadProRegular";
}

@mixin open-sans-light {
  font-family: "OpenSansLight";
}

@mixin open-sans {
  font-family: "Open Sans";
}

@mixin open-sans-bold {
  font-family: "Open Sans";
  font-weight: bold;
}