aside.sidebar
  div.logo
    div.logo__text
      a.no-link-decoration(href="#") CRM
  nav.menu
    ul.menu__list
      li.menu__item
        a.menu__wrapper(href="#")
          div.menu__icon
            i.fa.fa-tachometer(aria-hidden="true")
          div.menu__text Dashboard
      li.menu__item
        a.menu__wrapper(href="#")
          div.menu__icon
            i.fa.fa-pie-chart(aria-hidden="true")
          div.menu__text Reports
      li.menu__item.menu__item--active
        a.menu__wrapper(href="#")
          div.menu__icon
            i.fa.fa-briefcase(aria-hidden="true")
          div.menu__text Customers
      li.menu__item
        a.menu__wrapper(href="#")
          div.menu__icon
            i.fa.fa-calendar(aria-hidden="true")
          div.menu__text Calendar
