.search-form__input {
  width: 100%;
  box-sizing: border-box;
  height: 38px;
  padding: 0 40px 0 20px;
  @include open-sans;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid #ededed;
  border-radius: 4px;
}