.customer__profile-type {
  display: inline-block;
  vertical-align: top;
  background-color: #ffc12d;
  font-size: 11px;
  color: #ffffff;
  padding: 1px 7px;
  border-radius: 4px;
  text-transform: uppercase;
}